.controls {
  margin-bottom: 20px;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(
    45deg,
    var(--color-primary),
    var(--color-secondary)
  );
  color: var(--color-text);
  box-shadow: 0 4px 6px rgba(30, 60, 114, 0.3);
}

.btn:hover {
  transform: translateY(-3px);
  background: linear-gradient(
    45deg,
    var(--color-secondary),
    var(--color-primary)
  );
}

.theme-btn {
  font-size: 1.2em;
  background: transparent;
  border: 2px solid var(--color-text);
}

.report-container {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: var(--color-light);
  border: 1px solid #d1d9e6;
  box-shadow: 0 4px 6px rgba(30, 60, 114, 0.3);
}

.fade-in {
  animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Tema oscuro */
.dark {
  background-color: var(--color-accent);
  color: var(--color-text);
  min-height: 100vh;
  padding: 20px;
}

.dark .btn {
  background: linear-gradient(45deg, var(--color-accent), var(--color-primary));
  color: var(--color-text);
  border: 2px solid var(--color-text);
}

/* Tema claro */
.light {
  background-color: var(--color-light);
  color: var(--color-dark);
  min-height: 100vh;
  padding: 20px;
}

.light .btn {
  background: linear-gradient(
    45deg,
    var(--color-primary),
    var(--color-secondary)
  );
  color: var(--color-text);
}
